{% extends "../layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="content-section">
<h3 class="h3-product-name">Product to be updated: {{ product_name }}</h3><br>
    {{ form.media }}
    <form method="POST">
        <fieldset>
            <legend class="border-bottom pd-2 mb-4 text-center">Fields to be updated:</legend>
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy}}
            </div>
            <div class="form-group pt-4">
                <button class="btn btn-outline-success" type="submit">Update Inventory</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}